# Primary asset: 'apt' or 'usdt'
NEXT_PUBLIC_PRIMARY_ASSET=apt

# Mainnet configuration
NEXT_PUBLIC_MAINNET_CONFIDENTIAL_ASSET_MODULE_ADDR=0x1
NEXT_PUBLIC_MAINNET_SUBDOMAIN_MANAGER_CONTRACT_ADDR=
NEXT_PUBLIC_MAINNET_SUBDOMAIN_MANAGER_OBJECT_ADDR=
NEXT_PUBLIC_MAINNET_ANS_DOMAIN=veiled
NEXT_PUBLIC_MAINNET_APTOS_BUILD_API_KEY=AG-EH2R3TPC5GS3H9NZECZDY5QRHLE55JBFW
NEXT_PUBLIC_MAINNET_APTOS_BUILD_GAS_STATION_KEY=AG-8AE14Z1FTH6DRRCLJSK6ZBWRAVXJNRAB
NEXT_PUBLIC_MAINNET_USDT_TOKEN_ADDR=

# Testnet configuration
NEXT_PUBLIC_TESTNET_CONFIDENTIAL_ASSET_MODULE_ADDR=0xbe14a545c8e1f0024a1665f39fc1227c066727a70236e784fb203ec619fedf4c
NEXT_PUBLIC_TESTNET_SUBDOMAIN_MANAGER_CONTRACT_ADDR=0xcfe1e4daeb7e102150b9df9fca45aff7becd631b546dd19ab2af3dfaa5208913
NEXT_PUBLIC_TESTNET_SUBDOMAIN_MANAGER_OBJECT_ADDR=0x90458a508891b5813ce52b3b8caecf57b5c89706b2355c88de4786282aedb813
NEXT_PUBLIC_TESTNET_ANS_DOMAIN=veiled
NEXT_PUBLIC_TESTNET_APTOS_BUILD_API_KEY=AG-5K6DMUGRJV73SZV2UTCVMQFCCGADQRFRS
NEXT_PUBLIC_TESTNET_APTOS_BUILD_GAS_STATION_KEY=AG-MMG3UMBSJEDBNBVFANUZH5PZRS6N71DTJ

# Shared API keys (work across networks)
NEXT_PUBLIC_APTOS_BUILD_NOCODE_API_KEY=AG-LCHRFCRGZU9DB3UYWJKMWYDUE2YEDX8Y4

NEXT_PUBLIC_GOOGLE_CLIENT_ID=781884172762-3f6mvs1ng9k0k8de85loa2465j0ogaps.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_APPLE_CLIENT_ID=
APPLE_CLIENT_SECRET=

FORCE_MAINTENANCE_PAGE=false
